body {
    color: #333;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    top: 0;
    right: 0;
    position: absolute;
    padding-top: 8px;
}

.menu-opcoes {
    position: absolute;
    right: 0;
    bottom: 0;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #036;
}

.container {
    width: 940px;
    margin: 0 auto;
}

header {
    position: relative;
}

.busca,
.menu-departamentos {
    font-weight: bold;
    background-color: #dcdcdc;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333;
    text-decoration: none;
}

.busca input[type=search] {
    width: 170px;
}

.busca input {
    vertical-align: middle;
}

.menu-departamentos {
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.destaques {
    margin-top: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.novidades {
    float: left;
    background-color: #f5dcdc;
}

.mais-vendidos {
    float: right;
    background-color: #dcdcf5;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    right: 0;
    top: 12px;
}

.social li {
    float: left;
    margin-left: 25px;
}

.social a {
    /* tamanho da imagem */
    height: 32px;
    width: 32px;

    /* image replacement */
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="x.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}